@model Ministry.BlogPage.Entities.News
@{
    ViewData["Title"] = "GetBlogBySlug";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Ministry.BlogPage.Helpers;
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500&display=swap" rel="stylesheet">
<main class="col-md-9 openedData">
    <section class="openedData_info">
        <img src="~/img/@Model.MainImageUrl" alt="news_open" class="openedData_img">
        <p class="openedData_date">@Model.CreatedDate.ToString("dd MMMM yyyy")</p>
        <p class="openedData_header">@Model.Title</p>
        @Html.Raw(Model.Description)

    </section>
    <br />
    <br />
    <section class="openedData_latestInfo">
        <p class="openedData_latestInfoTxt"><lang key="Lastest"></lang></p>
        <ul class="openedData_latestContainer">

            @{
                List<Ministry.BlogPage.Entities.News> news = ViewBag.LastestPosts as List<Ministry.BlogPage.Entities.News>;
            }
            <!-- #1 -->
            @foreach (var item in news)
            {
                <li>
                    <img src="~/img/@item.MainImageUrl" alt="img1-5">
                    <div class="openedData_contentContainer">
                        <p class="openedData_latestDate">@item.CreatedDate.ToString("dd MMMM yyyy")</p>
                        <a href="/@Html.CurrentLanguage()/MEDA/Xeberler/@item.Slug/@item.Id" class="openedData_latestDescription">@item.Title</a>
                    </div>
                </li>
            }


        </ul>
    </section>
</main>
